name: volume_watcher
description: Support ios and android real-time return system volume value, maximum volume, initial volume, support set volume.
version: 2.0.1
homepage: https://github.com/yangming1009/volume_watcher

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
flutter:
  plugin:
    platforms:
      android:
        package: com.magugi.volume_watcher
        pluginClass: VolumeWatcherPlugin
      ios:
        pluginClass: VolumeWatcherPlugin